<%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/bakery.css">
    <script src="/scripts/add-to-cart.js" defer></script>
    <%- include("../partials/header.ejs") %>

        <div class="search-product">
            <form action="/search" method="post">
                <input type="text" name="keyword">
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
        <div class="all-products">
            <% allProducts.forEach(product=> {%>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/<%= product.imageurl %>" alt="<%= product.name %>">
                    </div>
                    <div class="product-info">
                        <h1>
                            <%= product.name %>
                        </h1>
                        <label>
                            <%= product.price %>
                        </label>
                    </div>
                    <div class="action-btns">
                        <form class="add-to-cart">
                            <input type="hidden" name="productId" value="<%= product.id %>" readonly>
                            <button class="btn">Add To Cart</button>
                        </form>
                        <% if (auth) {%>
                            <form class="delete-product" action="/admin/delete" method="post">
                                <input type="hidden" name="productId" value="<%= product.id %>" readonly>
                                <button class="btn delete-btn">Delete</button>
                            </form>
                            <% } %>

                    </div>
                </div>
                <% }); %>
        </div>

        <%- include("../partials/footer.ejs") %>